*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    width: 100%;
    height: 100%;
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
}
h1 {
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none !important;
}
a:focus {
    outline: none !important;
}
/* -------------pre-loader------------ */
.preload {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgb(17, 4, 29);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    transition: opacity 0.5s ease;
}
.cloud1,
.cloud2,
.cloud3 {
    height: 80px;
    position: absolute;
    right: 0;
    z-index: -1;
}
.cloud1 {
    top: 10%;
    transform: translate(100%, -25%);
    animation: clouds linear 8s infinite;
}
.cloud2 {
    top: 22%;
    transform: translate(100%, -50%);
    animation: clouds linear 6s infinite 2s;
}
.cloud3 {
    top: 34%;
    transform: translate(100%, -75%);
    animation: clouds linear 4s infinite 1.5s;
}
.windmill {
    height: 400px;
    position: absolute;
    bottom: 0%;
}
.preload h3 {
    position: absolute;
    top: 50%;
    transform: translateY(-75%);
    color: white;
    font-size: 40px;
    text-align: center;
}
.preload-finish {
    opacity: 0;
    pointer-events: none;
}
/* ---------Navbar---------- */
.navbar {
    padding: 0 1rem;
}
.fixed-top {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
}
.bg-light {
    background-color: rgba(231, 231, 231, 0.7) !important;
}
.navbar-brand {
    padding: 0;
}
.nav-link {
    font-size: 22px;
    font-weight: 600;
    color: rgb(17, 17, 17) !important;
    transition: 0.4s;
    margin-right: 30px;
}
.nav-link:hover {
    color: #960096 !important;
    transition: 0.4s;
}
.nav-link.active {
    color: #4d004d !important;
}
.show {
    background-color: rgba(231, 231, 231, 0.15) !important;
}
/* --------Landing Page-------- */
.backDrop {
    padding: 0 !important;
}
.carousel-inner {
    overflow: visible;
}
.carousel-inner>.carousel-item {
    -webkit-transition: 2s !important;
    -o-transition: 2s !important;
    transition: 2s !important;
}
.d-block {
    height: auto;
    background-position: center;
}
.carouselImages {
    margin-top: 140px;
    height: 80vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
#image_1 {
    background-image: url('../images/WMRCASFRNT.jpg');
}
#image_2 {
    background-image: url('../images/WMRSILO2.jpg');
}
#image_3 {
    background-image: url('../images/WMR_LRMURAL2.jpg');
}
#headingContainer {
    text-align: center;
    position: absolute;
    width: 100vw;
}
/* -----Meet tom----- */
#landing_container_1 {
    background-color: rgb(15, 3, 26);
    padding: 75px 0 75px 0;
}
.normalHeaders {
    color: #A9B300;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 3px;
}
#meetTomPara {
    color: #b8b8b8;;
    font-size: 20px;
    margin-top: auto;
    letter-spacing: 1px;
    line-height: 1.6;
}
#landing_container_1 > div > div > div.col-sm-12.col-md-4.col-lg-3 > img {
    height: 300px; 
    width: auto; 
    border-style: solid; 
    border-width: 5px; 
    border-radius: 8px; 
    border-color: black;
}
/* ----Neighborhood----- */
@keyframes clouds {
    from {
        right: 0%;
    }
    to {
        right: 130%;
    }
}
/* Extra Small Devices 300px */
@media (min-width: 300px) {
    #logo {
        height: 100px;
        width: auto;
    }
    .carousel {
        margin-top: 0px;
        height: 100vh;
        overflow: auto;
    }
    .carouselImages {
        margin-top: 0px;
        height: 100vh;
    }
    #headingContainer {
        top: 100px;
        width: 90vw;
        margin: 0 5vw;
    }
    #heading {
        color: rgb(255, 255, 255);
        text-shadow: 4px 4px 2px rgb(0, 0, 0);
        font-size: 65px;
        margin-top: 120px;
    }
    #subHeading {
        font-size: 50px;
        color: rgb(241, 219, 253);
        text-shadow: 3px 3px 2px rgb(0, 0, 0);
        margin-top: 250px;
    }
    #meetTomPara {
        padding-top: 50px;
    }
    #landing_container_2 {
        background-image: url('../images/WMRCASSIDEVW4.jpg');
        width: 100%;
        height: auto;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        overflow-y: hidden;
        padding-top: 100px;
        padding-bottom: 100px;
        left: 0;
        top: 0;
    }
    .landingPrivacy {
        color: #A9B300;
        text-align: center;
        font-size: 50px;
        font-weight: 600;
        letter-spacing: 3px;
    }
    .landingPrivacyPara {
        color: #b8b8b8;
        font-size: 24px;
        text-align: center;
    }
    .btn {
        font-size: 24px;
        transition: 0.4s;
        text-decoration: none !important;
        outline: 0 !important;
    }
    .featuresButton {
        background-color: rgb(200, 211, 0);
        color: rgb(17, 17, 17);
        margin: 30px 0 0 0;
        border-color: #c8d300;
    }
    .featuresButton:hover {
        transition: 0.4s;
        color: white;
        background-color: rgb(86, 90, 0);
        margin-bottom: 50px;
        border-color: rgb(86, 90, 0);
        text-decoration: none !important;
        outline: 0 !important;
    }
    .featuresButton:active,
    .featuresButton:visited,
    .featuresButton:focus {
        background-color:rgb(86, 90, 0) !important;
        border-color: rgb(86, 90, 0) !important;
        text-decoration: none !important;
        outline: 0 !important;
    }
    .featuresButton:focus * {
        outline: 0 !important;
    }
    #landing_container_2 > div > a > button:focus {
        outline: 0 !important;
    }
    .testimonials {
        margin-top: 50px;
    }
    .testimonialContainer {
        background-color: rgb(15, 3, 26);
    }
    .testText {
        color: #b8b8b8;
        font-size: 24px;
    }
    #footer {
        background-color: #b8b8b8;
    }
    #footerLogo {
        height: 150px;
        width: auto;
    }
    .footerHeaders {
        color: #4d004d;
        font-size: 34px;
    }
    .footerText {
        color: rgb(15, 3, 26);
        font-size: 20px;
    }
    #footer > div > div > div:nth-child(2) > p:nth-child(2) > a:active,
    #footer > div > div > div:nth-child(2) > p:nth-child(3) > a:active,
    #footer > div > div > div:nth-child(2) > p:nth-child(4) > a:active,
    #footer > div > div > div:nth-child(2) > p:nth-child(5) > a:active,
    #footer > div > div > div:nth-child(2) > p:nth-child(6) > a:active,
    #footer > div > div > div:nth-child(2) > p:nth-child(2) > a:hover,
    #footer > div > div > div:nth-child(2) > p:nth-child(3) > a:hover,
    #footer > div > div > div:nth-child(2) > p:nth-child(4) > a:hover,
    #footer > div > div > div:nth-child(2) > p:nth-child(5) > a:hover,
    #footer > div > div > div:nth-child(2) > p:nth-child(6) > a:hover {
        color: #960096 !important;
        transition: 0.4s;
    }
    #footer {
        padding-top: 75px;
        padding-bottom: 75px;
        border-top: solid #c8d300 3px;
    }
    #footer > div > div:nth-child(1) {
        margin-bottom: 30px;
    }
    .socialIcons {
        margin: 0 50px 0 50px;
    }
    .icons {
        font-size: 50px;
        color: #4d004d;
        transition: 0.4s;
    }
    .icons:hover {
        color: #960096 !important;
        transition: 0.4s;
    }
    #footer > div > div:nth-child(1) > div:nth-child(3) > p > a:hover,
    #footer > div > div:nth-child(1) > div:nth-child(3) > p > a:active {
        color: #960096 !important;
    }
    .bookButton {
        background-color: #960096 !important;
        color: rgb(231, 231, 231);
        margin: 30px 0 30px 0;
        border-color: #960096 !important;
    }
    .bookButton:hover {
        transition: 0.4s;
        color: white;
        background-color: #4d004d !important;
        border-color: #4d004d !important;
        text-decoration: none !important;
        outline: 0 !important;
    }
    #navbarNav > ul > li:nth-child(5) {
        border-bottom: solid black 1px;
    }
    #casitas_container_1 {
        margin-top: 140px;
    }
    .casitas_header_1 {
        text-align: center;
        font-size: 60px;
        padding-bottom: 25px;
        color: rgb(231, 231, 231);
    }
    #casitas_container_1 {
        background-image: url('../images/WMRCASSIDEVW4.jpg');
        width: 100%;
        min-height: 66vh;
        background-position: center;
        background-size: cover;
        background-attachment: scroll;
        overflow-y: hidden;
        left: 0;
        top: 0;
    }
    #casitas_container_2 > div > p {
        margin-bottom: 0;
    }
    #casitas_container_2 {
        background: rgb(46,0,46);
        background: radial-gradient(circle, rgba(46,0,46,1) 60%, rgba(77,0,77,1) 100%);
        padding: 75px 0 75px 0;
    }
    #casitas_container_4 {
        background: rgb(46,0,46);
        background: linear-gradient(180deg, rgba(15,3,26,1) 39%, rgba(15,3,26,0) 43%, rgba(0, 0, 0, 0) 100%);
        overflow-y: hidden;
        left: 0;
        top: 0;
    }
    .casitas_about_1 {
        color: #b8b8b8;;
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 1.6;
        padding-bottom: 50px;
        text-align: center;
    }
    #casitas_container_3 {
        background: rgb(46,0,46);
        background: linear-gradient(180deg, rgba(15,3,26,1) 39%, rgba(15,3,26,0) 43%, rgba(0, 0, 0, 0) 100%);
        overflow-y: hidden;
        left: 0;
        top: 0;
    }
    #casitas_column_2 {
        background-image: url('../images/WMRENTRYGATEOPEN.jpg');
        width: 100%;
        height: 90vh;        
        background-position: center;
        background-size: cover;
        background-attachment: scroll;
        z-index: -1;
    }
    .casitasColumnLeft {
        padding-top: 75px;
    }
    .casitas_paragraphs {
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 1.6;
        color: #b8b8b8;
        padding: 50px 10px 0 10px;
    }
    #casitas_column_4 {
        background-image: url('../images/WMRBR2BED.jpg');
        width: 100%;
        height: 90vh;        
        background-position: center;
        background-size: cover;
        background-attachment: scroll;
        z-index: -1;
    }
    #landing_container_2 > div {
        padding: 50px 15px 50px 15px;
    }
    #casitas_container_5 {
        background-image: url('../images/WMRLRFULLVIEW.jpg');
        width: 100% !important;
        height: auto;
        background-position: center !important;
        transform: translatez(0);
        background-size: cover !important;
        /* position: relative !important; */
        background-attachment: fixed !important;
        /* position: fixed !important; */
        -webkit-backface-visibility: hidden;
        -webkit-transform: translatez(0);
        -webkit-overflow-scrolling:touch;
        transform: translate3d(0,0,0);
        overflow-y: hidden;
        padding-top: 100px;
        padding-bottom: 100px;
        left: 0;
        top: 0;
        border-top: solid #c8d300 3px;
    }   
    #casitas_container_6 {
        padding: 75px 0 75px 0;
        background-color: rgb(15, 3, 26);
    } 
    #casitas_container_6 > div > div {
        padding: 50px 0 50px 0;
    }
    .amenitiesHeaders {
        color: rgb(236, 236, 236);
        padding-bottom: 20px;
    }
    .lists {
        color: rgb(184, 184, 184);
        padding: 20px 20px 20px 20px;
    }
    #casitas_container_7 {
        padding: 0;
        background-color: rgb(15, 3, 26);
    }
    .contain {
        overflow: hidden;
        padding: 15px;
        height: 300px;
        width: 100%;
    }
    .casitasImages {
        width: 100%;        
        background-position: center;
        background-size: cover;
        height: 300px;
        transition: 0.4s;
        overflow: hidden;
    }
    .casitasImages:hover {
        height: 400px;
        transition: 0.4s;
    }
    #casitaImage_1 {
        background-image: url('../images/WMRDININGKIT.jpg');
    }
    #casitaImage_2 {
        background-image: url('../images/WMRGUESTBOOK.jpg');
    }
    #casitaImage_3 {
        background-image: url('../images/WMRKUERIG.jpg');
    }
    #casitaImage_4 {
        background-image: url('../images/WMRTVWALL.jpg');
    }
    #casitaImage_5 {
        background-image: url('../images/WMRBRBEDONLY.jpg');
    }
    #casitaImage_6 {
        background-image: url('../images/WMRBR2BATH.jpg');
    }
    #casitaImage_7 {
        background-image: url('../images/WMRSHWRVIEW.jpg');
    }
    #casitaImage_8 {
        background-image: url('../images/WMRSHWRWALL.jpg');
    }
    #casitaImage_9 {
        background-image: url('../images/WMR2SHWRHD.jpg');
    }
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #footerLogo {
        height: 170px;
        width: auto;
    }
    #landing_container_2 > div {
        padding: 75px 50px 75px 50px;
    }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #heading {
        font-size: 90px;
    }
    #subHeading {
        font-size: 70px;
    }
    #landing_container_1 > div > div > div.col-sm-12.col-md-4.col-lg-3 {
        padding: 0;
    }
    #landing_container_1 > div > div > div.col-sm-12.col-md-8.col-lg-9 {
        margin: 0;
    }
    #meetTomPara {
        padding-top: 0;
        padding-left: 30px;
    }
    #landing_container_1 > div > div > div.col-sm-12.col-md-4.col-lg-3 > img {
        height: 350px;
    }
    #footer > div > div > div.col-xs-12.col-md-6 {
        border-right: solid rgb(43, 42, 42) 1px;
    }
    #footer > div > div > div:nth-child(2) {
        border-right: solid rgb(43, 42, 42) 1px;
    }
    #casitas_container_3 {
        background: rgb(46,0,46);
        background: linear-gradient(90deg, rgba(15,3,26,1) 50%, rgba(15,3,26,0) 69%, rgba(0, 0, 0, 0) 100%);
    }
    #casitas_container_4 {
        background: rgb(46,0,46);
        background: linear-gradient(90deg, rgba(0,0,0,0) 31%, rgba(15,3,26,1) 50%, rgba(15,3,26,1) 100%)
    }
    #casitas_column_2 {
        height: 66vh; 
    }
    #casitas_column_4 {
        height: 66vh; 
    }
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #logo {
        height: 140px;
        width: auto;
    }
    .carousel {
        margin-top: 0px;
    }
    #heading {
        font-size: 100px;
    }
    #subHeading {
        margin-top: 280px;
    }
    #meetTomPara {
        padding-left: 70px;
    }
    #footerLogo {
        height: 200px;
        width: auto;
    }
    #navbarNav > ul > li:nth-child(5) {
        border-right: solid black 1px;
        border-bottom: none;
    }
    .bookButton {
        font-size: 20px;
        margin: 0 0 0 30px;
    }
    .casitas_paragraphs {
        padding: 50px;
    }
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #heading {
        font-size: 110px;
    }
    #landing_container_1 > div > div > div.col-sm-12.col-md-4.col-lg-3 > img {
        height: 400px;
    }
    #footerLogo {
        height: 240px;
        width: auto;
    }
    .socialIcons {
        margin: 0 65px 0 65px;
    }
    .bookButton {
        font-size: 24px;
    }
    .contain {
        height: 400px;
    }
    .casitasImages {
        height: 400px;
    }
    .casitasImages:hover {
        height: 450px;
    }
}