*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    width: 100vw;
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
}
h1 {
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none !important;
}
.container {
    padding: 0;
}
/* -------------pre-loader------------ */
.preload {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgb(17, 4, 29);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    transition: opacity 0.5s ease;
}
.cloud1,
.cloud2,
.cloud3 {
    height: 80px;
    position: absolute;
    right: 0;
    z-index: -1;
}
.cloud1 {
    top: 10%;
    transform: translate(100%, -25%);
    animation: clouds linear 8s infinite;
}
.cloud2 {
    top: 22%;
    transform: translate(100%, -50%);
    animation: clouds linear 6s infinite 2s;
}
.cloud3 {
    top: 34%;
    transform: translate(100%, -75%);
    animation: clouds linear 4s infinite 1.5s;
}
.windmill {
    height: 400px;
    position: absolute;
    bottom: 0%;
}
.preload h3 {
    position: absolute;
    top: 50%;
    transform: translateY(-75%);
    color: white;
    font-size: 40px;
    text-align: center;
}
.preload-finish {
    opacity: 0;
    pointer-events: none;
}
@keyframes clouds {
    from {
        right: 0%;
    }
    to {
        right: 130%;
    }
}
/* Extra Small Devices 300px */
@media (min-width: 300px) {
    /* -------------Landing Page----------- */
    #landing-page {
        height: 100vh;
        width: 100vw;
    }
    .back-drop {
        background-image: url('../images/dining_dark_edit_1.jpg');
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        width: 100%;
    }
    .outer-large-nav {
        display: none;
    }
    #titles-container-landing {
        height: 100%;
        position: absolute;
    }
    .cfl-lodging {
        width: 100%;
        color: rgb(199, 184, 199);
        font-weight: 800;
        letter-spacing: 12px;
        font-size: 20px;
        text-align: center;
    }
    .cfl-container {
        position: absolute;
        bottom: 50px;
        width: 100%;
    }
    .title-container-landing {
        margin-top: 100px;
        width: 100%;
        height: 40%;
    }
    .title-landing {
        color: rgb(240, 240, 240);
        font-weight: 900;
        letter-spacing: 15px;
        font-size: 28px;
        text-align: center;
        top: 100px;
    }
    .title-subheading,
    .title-heading {
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: hsl(0, 0%, 0%, 0.25);
    }
    #titles-container-landing {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .cfl-lodging {
        font-size: 28px;
    }
    .title-landing {
        font-size: 44px;
    }
    .title-container-landing {
        margin-top: 150px;
    }
    .cfl-container {
        bottom: 180px;
    }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .back-drop {
        width: 75%;
        float: left;
    }
    .outer-large-nav {
        display: block;
        width: 25%;
        height: 100vh;
        float: right;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(247, 247, 247);
    }
    .large-nav {
        height: 90%;
        background-color: rgb(247, 247, 247);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
    }
    .navs-titles {
        text-align: center;
        font-size: 40px;
        font-weight: 800;
        letter-spacing: 3px;
    }
    .nav-link {
        color: rgb(77, 0, 77);
        transition: 0.4s;
        height: 100%;
        width: 100%;
    }
    .nav-link:hover {
        color: rgb(150, 0, 150);
        transition: 0.4s
    }
    #titles-container-landing {
        width: 75%;
    }
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}