*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    width: 100vw;
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
}
h1 {
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none !important;
}
/* -------------pre-loader------------ */
.preload {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgb(17, 4, 29);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    transition: opacity 0.5s ease;
}
.cloud1,
.cloud2,
.cloud3 {
    height: 80px;
    position: absolute;
    right: 0;
    z-index: -1;
}
.cloud1 {
    top: 10%;
    transform: translate(100%, -25%);
    animation: clouds linear 8s infinite;
}
.cloud2 {
    top: 22%;
    transform: translate(100%, -50%);
    animation: clouds linear 6s infinite 2s;
}
.cloud3 {
    top: 34%;
    transform: translate(100%, -75%);
    animation: clouds linear 4s infinite 1.5s;
}
.windmill {
    height: 400px;
    position: absolute;
    bottom: 0%;
}
.preload h3 {
    position: absolute;
    top: 50%;
    transform: translateY(-75%);
    color: white;
    font-size: 40px;
    text-align: center;
}
.preload-finish {
    opacity: 0;
    pointer-events: none;
}
/* ---------Navbar---------- */
.navbar {
    padding: 0 1rem;
}
.fixed-top {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
}
.bg-light {
    background-color: rgba(231, 231, 231, 0.7) !important;
}
.navbar-brand {
    padding: 0;
}
.nav-link {
    font-size: 22px;
    font-weight: 600;
    color: rgb(17, 17, 17) !important;
    transition: 0.4s;
    margin-right: 30px;
}
.nav-link:hover {
    color: #960096 !important;
    transition: 0.4s;
}
.nav-link.active {
    color: #4d004d !important;
}
/* --------Landing Page-------- */
.backDrop {
    padding: 0 !important;
}
.carousel-inner {
    overflow: visible;
}
.carousel-inner>.carousel-item {
    -webkit-transition: 2s !important;
    -o-transition: 2s !important;
    transition: 2s !important;
}
.d-block {
    height: auto;
    background-position: center;
}
.carouselImages {
    margin-top: 140px;
    height: 80vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
#image_1 {
    background-image: url('../images/WMRCASFRNT.jpg');
}
#image_2 {
    background-image: url('../images/WMRSILO2.jpg');
}
#image_3 {
    background-image: url('../images/WMRLRFULLVIEW.jpg');
}
#image_4 {
    background-image: url('../images/WMRENTRYSIGNLG.jpg');
}
#headingContainer {
    width: 90vw;
    height: 100vh;
    justify-content: center;
    position: absolute;
    top: 0;
}
#heading {

}
@keyframes clouds {
    from {
        right: 0%;
    }
    to {
        right: 130%;
    }
}
/* Extra Small Devices 300px */
@media (min-width: 300px) {
    #logo {
        height: 100px;
        width: auto;
    }
    .carousel {
        margin-top: 100px;
    }
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #logo {
        height: 140px;
        width: auto;
    }
    .carousel {
        margin-top: 0px;
    }
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}